version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: hrmifly_app
    restart: always
    working_dir: /var/www
    volumes:
      - .:/var/www
    expose:
      - 9000

  web:
    image: nginx:stable-alpine
    container_name: hrmifly_nginx
    restart: always
    ports:
      - "3000:80"
    volumes:
      - .:/var/www
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
